<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
<h1>I'm a counter</h1>
{{ fulltext }} has total {{ word_count }} words {{ word_count_list }}
{% for k,v in word_count_list %}
<h3>{{ k }} -> {{ v }}</h3>
<br>
{% endfor %}
<h1><a href={% url 'home' %}>Try Again</a></h1>